{% extends 'vinyl/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'vinyl/css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="page-container">
        {% if records %}
            <div class="counter">
                <p>Всего пластинок в коллекции: <strong>{{ total_count }}</strong></p>
            </div>
        {% else %}
            <p class="empty-message">В коллекции пока нет пластинок</p>
        {% endif %}

        <div class="add-button">
            <a href="{% url 'vinyl:add_record'%}" class="link add-link">
                Добавить пластинку
            </a>
        </div>

        {% if records %}
            <div class="table-container">
                <table class="table-collection">
                    <thead>
                        <tr>
                            <th>Исполнитель</th>
                            <th>Альбом</th>
                            <th>Год выпуска</th>
                            <th>Жанр</th>
                            <th>Формат</th>
                            <th>Состояние</th>
                            <th>Оценочная стоимость</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{ record.artist }}</td>
                            <td>{{ record.title }}</td>
                            <td>{{ record.year }}</td>
                            <td>{{ record.genre.name|default:'-' }}</td>
                            <td>{{ record.get_format_display }}</td>
                            <td>{{ record.condition.get_grade_display }} ({{ record.condition.description }})</td>
                            <td>{{ record.estimated_value }} руб.</td>
                            <td class="actions">
                                <a href="{% url 'vinyl:edit_record' record.id %}"
                                    class="link link-action">
                                    Редактировать
                                </a>
                                <a href="{% url 'vinyl:delete_record' record.id %}"
                                    class="link link-action">
                                    Удалить
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}