.login-container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 28px;
    text-align: center;
}

.form-group {
    text-align: center;
    font-size: 22px;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    padding: 4px 16px;
    font-size: 22px;
}

.btn-primary:hover {
    background-color: var(--light-olive);
    border-color: var(--dark-red);
}

.proposal {
    text-align: center;
    font-size: 18px;
}

.alert-danger {
    text-align: center;
    color: var(--red);
}