h1 {
    text-align: center;
    font-size: 40px;
    color: var(--dark-olive);
}

.form-container {
    display: grid;
    margin: 0 auto;
}

.form-group {
    text-align: center;
    font-size: 22px;
}

.form-actions {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

.proposal {
    font-size: 18px;
}

.button-container {
    margin-top: 20px;
}

.btn-primary {
    padding: 4px 16px;
    font-size: 22px;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: var(--light-olive);
    border-color: var(--dark-red);
}

.error {
    text-align: center;
    color: var(--red);
    font-size: 18px;
}